.nav_btn {
  background: transparent;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

.nav_btn:hover {
  background: #79a91a;
}